<a href="https://colab.research.google.com/github/MarcoM95/MLPNS2021/blob/main/MLNPS_Ztestpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [239]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.7/dist-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['sample']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [240]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.to_datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.to_datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [241]:
rain

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[3538 rows x 8 columns]

In [242]:
rain = rain[['DATE','PRCP']]
rain

            DATE  PRCP
0     2010-01-01  0.28
1     2010-01-02  0.00
2     2010-01-03  0.00
3     2010-01-04  0.00
4     2010-01-05  0.00
...          ...   ...
3533  2019-09-04  0.00
3534  2019-09-05  0.00
3535  2019-09-06  0.00
3536  2019-09-07  0.02
3537  2019-09-08  0.00

[3538 rows x 2 columns]

In [256]:
sample = rain[pd.to_datetime(rain.DATE) > pd.to_datetime("2018/01/01")]

In [257]:
population = rain[pd.to_datetime(rain.DATE) <= pd.to_datetime("2018/01/01")]

In [258]:
print("sample mean = %.3f, sample std = %.3f" % (sample.mean(), sample.std()))

sample mean = 0.163, sample std = 0.365

In [259]:
print("population mean = %.3f, population std = %.3f" % (population.mean(), population.std()))

population mean = 0.132, population std = 0.386

In [260]:
def Z(population, sample):
  return (sample.mean() - population.mean()) / np.std(population) / np.sqrt(len(sample))

In [261]:
Z(population, sample)

PRCP    0.003186
dtype: float64

$H_0$: the sample does come from the population

$H_1$: the sample does NOT come from the population

We can not reject the null $H_0$ bcs |pivotal quantity = 0.003| < |critical value = 1.96|

Then, precipitations from the sample are not anomalous wrt the population