<a href="https://colab.research.google.com/github/MarcoM95/MLPNS2021/blob/main/MLPNS_24_03_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd

In [122]:
df=pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")
df

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[3538 rows x 8 columns]

In [123]:
df.tail()

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[5 rows x 8 columns]

In [124]:
df.index

RangeIndex(start=0, stop=3538, step=1)

In [125]:
df.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'WESD', 'WESF'], dtype='object')

In [126]:
df[['STATION']]

          STATION
0     US1DENC0010
1     US1DENC0010
2     US1DENC0010
3     US1DENC0010
4     US1DENC0010
...           ...
3533  US1DENC0010
3534  US1DENC0010
3535  US1DENC0010
3536  US1DENC0010
3537  US1DENC0010

[3538 rows x 1 columns]

In [127]:
df.loc[3537]['STATION']  #row 3537 colums 'STATION'

'US1DENC0010'

In [128]:
df.iloc[3537][0]  #row 3537 colums 'STATION'

'US1DENC0010'

In [129]:
df.describe()

              PRCP        SNOW        SNWD        WESD        WESF
count  3538.000000  2266.00000  216.000000  175.000000  256.000000
mean      0.137340     0.09594    1.026852    0.160571    0.073828
std       0.382174     0.64966    2.738447    0.457994    0.175507
min       0.000000     0.00000    0.000000    0.000000    0.000000
25%       0.000000     0.00000    0.000000    0.000000    0.000000
50%       0.000000     0.00000    0.000000    0.000000    0.000000
75%       0.070000     0.00000    0.350000    0.100000    0.100000
max       6.960000    12.30000   16.400000    2.400000    1.400000

In [130]:
df.head(10)

       STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
5  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-06  ...   NaN   NaN   NaN
6  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-07  ...   NaN   NaN   NaN
7  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-08  ...   1.0   0.1   0.1
8  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-09  ...   0.0   NaN   NaN
9  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-10  ...   NaN   NaN   NaN

[10 rows x 8 columns]

In [131]:
df["DATE"]

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
3533    2019-09-04
3534    2019-09-05
3535    2019-09-06
3536    2019-09-07
3537    2019-09-08
Name: DATE, Length: 3538, dtype: object

In [132]:
df.DATE

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
3533    2019-09-04
3534    2019-09-05
3535    2019-09-06
3536    2019-09-07
3537    2019-09-08
Name: DATE, Length: 3538, dtype: object

In [133]:
pd.to_datetime(df.DATE)  #convert something to a date

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: DATE, Length: 3538, dtype: datetime64[ns]

In [134]:
listnumv=["PRCP",	"SNOW",	"SNWD",	"WESD",	"WESF"]
df[listnumv]

      PRCP  SNOW  SNWD  WESD  WESF
0     0.28   NaN   0.0   NaN   NaN
1     0.00   0.0   NaN   NaN   NaN
2     0.00   0.0   NaN   NaN   NaN
3     0.00   0.0   NaN   NaN   NaN
4     0.00   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...
3533  0.00   0.0   NaN   NaN   NaN
3534  0.00   0.0   NaN   NaN   NaN
3535  0.00   0.0   NaN   NaN   NaN
3536  0.02   NaN   NaN   NaN   NaN
3537  0.00   0.0   NaN   NaN   NaN

[3538 rows x 5 columns]

In [135]:
df[listnumv].values

array([[0.28,  nan, 0.  ,  nan,  nan],
       [0.  , 0.  ,  nan,  nan,  nan],
       [0.  , 0.  ,  nan,  nan,  nan],
       ...,
       [0.  , 0.  ,  nan,  nan,  nan],
       [0.02,  nan,  nan,  nan,  nan],
       [0.  , 0.  ,  nan,  nan,  nan]])

In [136]:
type((df[listnumv].values))

numpy.ndarray

#Exercise

## Extract only dates that are past 2019 and tell if 2019 was with a lot of precipitations
### Population: 2010-2019
### Sample: 2019
### Calculate Z-test

In [137]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")

In [138]:
pd.to_datetime(df.DATE) #SERIE DI DATETIME VALUES, I.E. NUMERI

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: DATE, Length: 3538, dtype: datetime64[ns]

In [139]:
#Select sample and population

sample      = df[pd.to_datetime(df.DATE) > pd.to_datetime("2018-12-31")]        #serie di boolean
#population  = df[~(pd.to_datetime(df.DATE) > pd.to_datetime("2018;12;31"))]    #serie di boolean
population  = df[pd.to_datetime(df.DATE) <= pd.to_datetime("2018;12;31")]       #serie di boolean

In [142]:
#Define Z function

import numpy as np

def Z(population, sample):
  return (population.mean() - sample.mean()) / (np.std(population) / np.sqrt(len(sample)))

In [153]:
#Z-test
Z(population, sample)

PRCP   -0.135069
SNOW   -0.294580
SNWD    0.816933
WESD    1.429526
WESF    1.687414
dtype: float64